# Virtual environment folders
env/
venv/
.venv/

# Editor config files
.vscode/
.idea/

# Environment variable files
.env

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Course bootcamp specific files
100 Days of Code - The Complete Python Pro Bootcamp/